<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Jelease - Risk.Ident</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="https://unpkg.com/papercss@1.8.3/dist/paper.min.css">
	</head>
	<body>
		{{ block "body" . }}
		<div class="paper container margin-top">
			{{ block "content" . }}
			<p>
				<em>This page has not been implemented yet.</em>
			</p>
			{{ end }}
			<hr/>
			<p class="text-muted">
				Risk.Ident GmbH
				| Created by the Platform team
				| <a href="https://github.com/RiskIdent/jelease" target="_blank">Source code</a>
			</p>
		</div>
		{{ end }}
	</body>
</html>
